.contents_list {
  background: linear-gradient(
      0deg,
      rgba(200, 213, 228, 0.5),
      rgba(200, 213, 228, 0.5)
    ),
    #ffffff;
  width: 100%;
  padding: 0 40px;
  &_title {
    font-family: "Noto Sans JP";
    font-size: 32px;
    width: 224px;
    height: 46px;
    line-height: 46.34px;
  }
  &_search {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    .radius {
      border-radius: 4px;
    }
  }
  &_input {
    width: calc(100% - 164px - 150px - 32px);
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: calc(12px + 24px + 8px);
    &::placeholder {
      font-size: 14px;
      height: 20px;
    }
    &_icon {
      position: relative;
      &::before {
        @include fontIcon("\e8b6");
        @include font_color;
        width: 24px;
        height: 24px;
        font-size: 24px;
        position: absolute;
        top: 14px;
        left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &_button {
    color: #6b0fa4;
    // 位置調整
    display: flex;
    justify-content: center;
    align-items: center;
    // 大きさ調整
    width: 164px;
    height: 50px;
    font-size: 14px;
    // レイアウト調整
    border: 1px solid #6b0fa4;
    margin-left: 16px;
    &_img {
      // 位置調整
      display: flex;
      align-items: center;
      justify-content: center;
      // 大きさ調整
      width: 18px;
      height: 18px;
      font-size: 18px;
      // レイアウト調整
      margin: 16px 8px 16px 16px;
    }
    &_text {
      width: 98px;
      height: 20px;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_table {
    @include font_color;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 142px;
    border-collapse: collapse;
    &_margin {
      height: 8px;
      border-radius: 4px 4px 0px 0px;
      background-color: #ffffff;
    }
    &_item {
      height: 48px;
      text-align: left;
      td {
        padding: 0 8px;
      }
      > td:nth-child(1) {
        // width: 14%;
        width: calc(180px - 16px);
      }
      > td:nth-child(2) {
        // width: 18.75%;
        width: calc(240px - 16px);
      }
      // > td:nth-child(3) {
      //   width: 320px;
      // }
      &:nth-child(even) {
        background-color: #f6f6f6;
      }
    }
  }
}
