.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 5.6rem;
    background-color: white;

    @media screen and (min-width: 768px) {
        display: none;
    }

    .header_logo {
        width: 8rem;
        height: 4.4rem;
        margin: auto;
        background-color: #c4c4c4;
    }
}
