.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.7rem;
    background-color: #ffffff;
    z-index: 20;

    border-top: 0.1rem solid rgba(0, 0, 0, 0.12);

    .navbar_nav {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 0;
        padding: 0;
    }

    .navbar_nav_item {
        list-style: none;
    }
    .navbar_nav_item_link {
        display: inline-grid;
        justify-content: center;
        align-content: center;

        width: 10.9rem;
        height: 4.8rem;
        gap: 0.4rem;
        color: #999999;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        text-decoration: none;
    }

    .navbar_nav_item_link_iconouter {
        width: 6.4rem;
        height: 3.2rem;

        .navbar_nav_item_link_iconouter_icon {
            font-size: 2.8rem;
        }
    }

    .navbar_nav_item_link[href*="index"] {
        margin-top: 0.5rem;
        pointer-events: none;
        color: #df85a2;

        .navbar_nav_item_link_iconouter {
            border-radius: 4rem;
            background-color: rgba(223, 133, 162, 0.16);
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        bottom: unset;
        height: 6.4rem;
        border: none;

        .navbar_nav {
            justify-content: end;
            align-items: center;
            height: 6.4rem;
            max-width: 102rem;
            margin: auto;
            padding: 0 2.4rem;
        }
    }

    .navbar_nav_item {
        .navbar_nav_item_link {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            margin-left: 0.4rem;
            margin-top: 0;
            color: rgba(0, 0, 0, 0.6);
        }
        .navbar_nav_item_link_iconouter {
            width: 4.8rem;
            align-items: center;
            display: flex;
            .navbar_nav_item_link_iconouter {
                font-size: 2.4rem;
            }
        }

        .navbar_nav_text {
            text-align: left;
            width: 11.6rem;
        }

        .navbar_nav_item_link[href*="index"] {
            border-radius: 100rem;
            background-color: rgba(223, 133, 162, 0.16);
            margin: 0;

            .navbar_nav_item_link_iconouter {
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    .navbar_nav_item:nth-child(1) .navbar_nav_item_link {
        width: 16.4rem;
    }
    .navbar_nav_item:nth-child(2) .navbar_nav_item_link {
        width: 13.2rem;
    }
    .navbar_nav_item:nth-child(3) .navbar_nav_item_link {
        width: 14.8rem;
    }
}
