.navbar {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 20;

    @include mq(sp) {
        display: flex;
        align-content: center;
        justify-content: center;
        bottom: 0;
        height: 5.7rem;
    }
    @include mq(pc) {
        top: 0;
        height: 6.4rem;
        border: none;
    }

    .navbar_nav {
        display: flex;
        @include mq(sp) {
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        @include mq(pc) {
            justify-content: end;
            align-items: center;
            height: 6.4rem;
            max-width: 102rem;
            margin: auto;
            padding-right: 2.4rem;
            padding-left: 2.4rem;
        }
    }
}

.navbar_nav_item {
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;

    @include mq(sp) {
        display: inline-grid;
        align-content: space-between;
        height: 4.6rem;
        font-size: 1rem;
        color: #999999;
    }
    @include mq(pc) {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        margin-left: 0.4rem;
        margin-top: 0;
        color: rgba(0, 0, 0, 0.6);

        &:nth-child(1) {
            width: 16.4rem;
        }
        &:nth-child(2) {
            width: 13.2rem;
        }
        &:nth-child(3) {
            width: 14.8rem;
        }
    }

    .navbar_nav_item_iconouter {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq(sp) {
            height: 3.2rem;
            width: 6.4rem;
            margin-right: 2.24rem;
            margin-left: 2.24rem;
        }
        @include mq(pc) {
            height: 4.8rem;
            width: 4.8rem;
        }

        .navbar_nav_item_iconouter_icon {
            @include mq(sp) {
                font-size: 2.8rem;
            }
            @include mq(pc) {
                font-size: 2.4rem;
            }
        }
    }
}

.navbar_nav_item[href*="index"] {
    pointer-events: none;
    color: #df85a2;

    @include mq(pc) {
        border-radius: 100rem;
        background-color: rgba(223, 133, 162, 0.16);
    }

    .navbar_nav_item_iconouter {
        border-radius: 4rem;

        @include mq(sp) {
            background-color: rgba(223, 133, 162, 0.16);
        }
        @include mq(pc) {
            background-color: rgba(255, 255, 255, 0);
        }
    }
}

.navbar_nav_item_text {
    @include mq(pc) {
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1.6rem;
        padding-left: 0.4rem;
    }
}
