@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/Users/mih.hayakawa/kadai/static/font/MaterialSymbolsRounded.woff2")
        format("woff2");
}

.material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: "Noto Sans JP";
}
body {
    height: 100%;
    background-color: rgba(242, 242, 242, 1);
}

p {
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}
